<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-8">Recettes de <%= movie.titre %></h1>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <% recipes.forEach(recipe => { %>
    <div
      class="bg-white rounded-lg shadow-sm hover:shadow-lg transition-all duration-300"
    >
      <img
        src="/images/<%= recipe.image %>"
        alt="<%= recipe.titre %>"
        class="w-full h-48 object-cover rounded-t-lg"
      />
      <div class="p-6">
        <h3 class="text-xl font-semibold mb-2"><%= recipe.titre %></h3>
        <p class="text-gray-500 mb-4 line-clamp-2"><%= recipe.description %></p>
        <a
          href="/recette/<%= recipe.id_recette %>"
          class="block text-center py-2 px-4 bg-orange-500 text-white rounded-full hover:bg-orange-600"
        >
          Voir la recette
        </a>
      </div>
    </div>
    <% }) %>
  </div>
</div>
